/*General Styles*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

/*Navigation Bar*/

.divNav {
    background-color: black;
    padding: 10px 0px 10px 0px;
}

.navUL li {
    color: white;
    display: inline;
    padding: 30px;
}

/*Banner*/



/*Headings*/
.container {
    position: relative;
    width: 50%;
    border: 5px solid black;
    border-radius: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.imgHeading {
    width: 30%;
    height: auto;
    transition: .5s ease;
}

.container:hover .imgHeading {
    transform: translate(-100%, 0);
}

.overlay {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    margin-right: auto;
    background-color: #eb1b0c;
    overflow: hidden;
    width: 50%;
    height: 100%;
    transform: scale(1, 0);
    border-radius: 5px 5px;
    z-index: -5;
    transition-delay: 1s;

}

.container:hover .overlay {
    transform: scale(1);
    animation: showHide 3s linear;
    animation-delay: 1s;
}

@keyframes showHide {
    0% {
        width: 0%
    }

    40% {
        width: 50%
    }

    60% {
        width: 50%;
    }

    100% {
        width: 50%;
    }
}

.Text {
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*Fonts*/

/*Buttons*/

/*Fonts*/

/*Animations*/

/*Flexbox*/